/* CSS File for visualization, provided by the SOI */

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#header {
  padding: 10px;
  height: 80px;
  background: #EEEEEE;
  display: flex;
}

#header div {
  margin-right: 10px;
}

#dataload div {
  margin-bottom: 7px;
}

#dataload button {
  width: 200px;
}

#vizconfig div {
  margin-bottom: 7px;
}

#soiwayviz_vizwrapper {
  width: 100%;
  height: 100%;
  height: calc(100% - 105px);
}
